*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F8F8F8;
}

img[src="/Pictures/chess-war.png"]{
  background-size: cover;
  width: 98%;
 margin: 2vh 1vw;
}

.navbar{
  background-color: #FFFFFF;
  display: flex;
 align-items: center;
 justify-content: center; 
 list-style-type: none;
 margin-left: 1vw;
 margin-right: 1vw;
 padding: 2vh 1vw;
 margin-top: -2.4vh;
 box-shadow: 0 0.16614745586708204vh black;
}

.navbar li a{
  font-size: 1.23vw;
  color: black;
  font-family: 'Montagu Slab', serif;
  text-decoration: none;
  padding: 1.6614745586708204vh 4.166666666666667vw;
align-items: center;
justify-content: center;
}

.navbar li a:hover{
  background-color: black;
  color: #FFFFFF
}

/* Rectangles */

.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 59vh;
}

.rectangle{
  position: static;
  width: 36.458333333333336vw;
  height: 41.53686396677051vh;
  background-color: white;
  border-radius: 2.6041666666666665vw;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
  transition: height 0.3s ease-in-out;
  cursor: pointer;
}

.rectangle:hover{
  height: auto;
  z-index: +1;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 59vh;
}

.rectangle img{
  width: 36.458333333333336vw;
  height: 31.152647975077883vh;
}

.rectangle p{
  font-size: 2vw;
  text-align: center;
  font-family: 'Montagu Slab', serif;
}

#rectangle-1 p, #rectangle-3 p, #rectangle-4 p {
  margin-top: 2vh;
}

.answer{
  position: relative;
  font-size: 2vw;
  text-align: center;
  display: none;
}

.rectangle:hover .answer{
  display: block;
}
/* Founder Heading */

#founders{
  text-align: center;
  font-size: 10vw;
  font-family: 'Montagu Slab', serif;
  color: #313131;

}
/* Founder Pictures */

.founder-pics{
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.founder-pics img{
  width: 18.229166666666668vw;
}

/* Text Boxes */

.text-box-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

 .text-box{
  width: 30vw;
  height: 26vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1vw solid black;
}

.text-box p{
  font-size: 1.7vw;
  font-family: 'Montagu Slab', serif;
  margin: auto auto;
  padding: 8vh 4vw;
}

/* Vertical line between The Photos */

.vertical-line {
  width: 0.1vw;
  height: 77vh;
  background-color: black;
  margin-left: 50vw;
  margin-top: -76vh;
}

/* Hovering on Photo effect

#kapil-text-box{
  transform: scale(1.5) translate(50px, 200px);
}

.founder-pics img[src="/Pictures/kapil-photo.png"]:hover + .text-box-container #kapil-text-box {
  transform: scale(1.5) translate(50px, 200px);
  transition: transform 3s;

} */
