*{
    box-sizing: border-box;
}

ul.navbar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: #ffffff;
    border-radius:  1.0416666666666667vw;
    mix-blend-mode: soft-light;
    
  
  }
  
  ul.navbar li {
    float: left;
    font-size: 2.803738317757009vh;
  }
  
  ul.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding:  1.453790238836968vh  0.8333333333333334vw;
    text-decoration: none;
  }
  
  ul.navbar li a:hover {
    color: grey;
  }
  
  .button {
    float: right;
    background-color: none;
    border-radius: 9.375vw;
    margin: 0px;
    padding: 0px;
    margin-right:  0.8854166666666666vw;
  }
  
  button:hover {
    background-color: #ff0000;
    color: white;
  }

body{
    background-color: #313131;
}

h2 img{
   width: 16.666666666666668vw;
}

h1{
    text-align: center;
    color: white;
    font-size: 4.3125vw;
    margin: -2rem auto;
    font-family: 'Passion One', cursive;
}

h1 img{
    width: 5.3125vw;
    margin: -2.156801661474559vh 0;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.items-section{
    width: 15.625vw;
    height: 10.384215991692628vh;
    border-radius: 1.3020833333333333vw;
    background-color: white;
    mix-blend-mode: soft-light;
    }



