body {
  background: url(/Pictures/socials.png);
  background-size: cover;
}

ul.navbar {
  list-style-type: none;
  margin: -0.3645833333333333vw;
  padding: 0px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 1.0416666666666667vw;
  mix-blend-mode: soft-light;


}

ul.navbar li {
  float: left;
  font-size: 2.803738317757009vh;
}

ul.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 1.453790238836968vh 0.8333333333333334vw;
  text-decoration: none;
}

ul.navbar li a:hover {
  color: grey;
}

.button {
  float: right;
  background-color: none;
  border-radius: 180px;
  margin: 0px;
  padding: 0px;
  margin-right: 17px;
}

button:hover {
  background-color: #ff0000;
  color: white;
}

input[type=button] {
  background: white;
  border: 0;
  height: 36.3447559709242vh;
  width: 18.229166666666668vw;
  border-radius: 7.8125vw;
  cursor: pointer;
}

#instagram {
  margin-top: 29.5vh;
  margin-left: 12vw;

}

#youtube {
  margin-left: 10.5vw;

}

#discord {
  margin-left: 9.58vw;

}

@media only screen and (min-width: 720px) and (max-width: 800px) {
  body {
    background: url("/Pictures/socials\ mobile.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  input[type=button] {
    background: transparent;
    border: 0;
    width: 14.894rem;
    height: 14.894rem;
    border-radius: 28.8125vw;

    cursor: pointer;
    display: flex;
  }

  #instagram {
    margin-top: 15.5vh;
    margin-left: 31vw;
  }

  #youtube {
    margin-left: 30.5vw;
    margin-top: 1.25rem;
  }


  #discord {
    margin-left: 30.58vw;
    margin-top: 3vw;
  }


}